body {
    margin: 0;
    color: rgb(55,55,145);
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header{
    padding: 40px;
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 30px;
    font-family: modesto;
  }
  
  .topnav {
    color: rgb(55,55,145);
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(55,55,145);
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  .topnav a.active {
    background-color: pink;
    color: rgb(55,55,145);
  }
  
  a {text-decoration: none; }

  p{
    color: rgb(250, 175, 36);
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif
  }

  .container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px 40px;
    justify-content: space-evenly;
    margin-top: 40px;
    padding: 15px 10px;
  }

  #brgr{
    text-align: center;
  }
  #cookies{
    text-align: center;
  }
  #blizzard{
    text-align: center;
  }